article{
  text-align: center;
  width: 80%;
  padding: 50px;
  padding-left: 150px;
}
article p{
  text-align: center;
}

h1{
  text-align: center;
  /* padding-left: 120px; */
}

h2{
  text-align: center;
  /* padding-left: 120px; */
}

.collaborators{
  display: grid;
  grid-template-columns: repeat(3, 1fr)
}


section{
  padding: 20px
}
section .ZiqianPan{
  grid-column: 1/2;
}
section .TajiFuller{
  grid-column: 2/3;
}
section .KalilahClarke{
  grid-column: 3/4;
}
section img{
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

a img{
  width: 50px;
  height: 50px;
  padding: 10px;
}