
  .middle {
    font-size: 25px;
    color: white;
    font-family: "Courier New", Courier, monospace;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  #comingsoon  {
    width: 250px;
  }
  



