

.Youtube{
  width: 100px;
  height: 100px;
  position: absolute;
  top: -25px;
}

.Header{
  display: flex;
}

form input{
  width: 470px;
  height: 30px;
  margin-left: 250px;
  margin-top: 10px;
}

form button{
  width: 60px;
  height: 35px;
}