/* ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  
  }
  
  /* Change the link color on hover */
  /* li a:hover {
    background-color: #555;
    color: white;
  } */
  /* div {
    grid-template-columns: repeat(8, 1fr);
  } */

  /* The side navigation menu */
  
/* The hotdog is not actually from Nav bar soo.. narbar actually do need to become width:0px. */
.sidebar{
  background:#fff;
  width:15%;
  height: 100vh;
  position:fixed;
  top: 0;
  padding-left: 2%;
  padding-top: 80px;
}

.shortcut-links a img{
  width: 20px;
  margin-right: 10px
}
.shortcut-links a {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  width:fit-content;
  flex-wrap:wrap;
}

 
 


/* .sidenav a:hover {
  color: #f1f1f1;
} */

