ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  
  }
  
  /* Change the link color on hover */
  li a:hover {
    background-color: #555;
    color: white;
  }
  /* div {
    grid-template-columns: repeat(8, 1fr);
  } */

  /* The side navigation menu */
  
/* The hotdog is not actually from Nav bar soo.. narbar actually do need to become width:0px. */
.sidenavOpen {
  height: 100%; 
  width: 150px; /*this is the thing that needs to change when clicked*/
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}

.sidenavClose {
  height: 100%; 
  width: 50px; /*this is the thing that needs to change when clicked*/
  position: fixed; 
  z-index: 1; 
  top: 0;
  left: 0;
  background-color: #111; 
  overflow-x: hidden; 
  padding-top: 60px; 
  transition: 0.5s; 
}



/* .sidenav a:hover {
  color: #f1f1f1;
} */

