.youtube {
  width: 150px;
  top: -25px;
}

.header {
  display: flex;
  align-items: center;
}

nav {
  padding: 0px 2%;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  background: white;
  position: sticky;
  top: 0;
  z-index: 10;
}

.header .nav-left .menu-icon {
  width: 50px;
  margin-right: 0 px;
  text-align: left;
}

.header .nav-left .logo {
  width: 130px;
}

.nav-middle .microphone {
  width: 16px;
}



.search-box {
  display: flex;
}

.search-box button img {
  width: 25px;
  margin-left: auto;
  margin-right: auto;
}

.search-box button {
  margin-left: 10px;
}

.nav-right img {
  width: 25px;
  margin-right: 25px;
}

.nav-right .user-icon {
  width: 35px;
  border-radius: 50%;
  margin-right: 0;
}

form input {
  width: 470px;
  height: 30px;
}

button {
  width: 70px;
  height: 36px;
}
.search-bar {
  display: flex;
  align-items: flex-end;
}

img {
  cursor: pointer;
}
/* ---------------------------------------sidebar----------------------------- */
.sidebar{
  background:#fff;
  width:15%;
  height: 100vh;
  position:fixed;
  top: 0;
  padding-left: 85px;
  padding-top: 75px;
  transition:0.5s;
}

.shortcut-links a img{
  width: 18px;
  height: 18px;
  margin-right: 20px;
}
.shortcut-links a {
  display: flex;
  align-items: center;
  /* margin-bottom: 20px; */
  width:fit-content;
  flex-wrap:wrap;
}

.shortcut-links a:first-child{
  color: #ed3833;
}

.shortcut-links a:hover {
  color: green;
}

.sidebar hr{
  border: 0;
  height:  1px;
  background: #ccc;
  width: 85% ;
}


.subscribed-list h3{
  font-size: 13px;
  margin: 10px 0;
  color: #5a5a5a;

}

.subscribed-list a {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width: fit-content;
  flex-wrap: wrap;
  font-family: 20px;
}

.subscribed-list a img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 15px;
}

/* ----------------------------Small-SideBar------------------------- */
/* https://www.w3schools.com/howto/howto_js_sidenav.asp */
.small-sidebar{
  height: 100%; /* 100% Full-height */
  width: 50px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 75px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
}

.small-sidebar a p{
  display: none;
}

.small-sidebar h3{
  display: none;
}

.small-sidebar hr{
  width: 50%;
  margin-bottom: 25px;
}